html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-menu a {
  color: #000000;
  text-transform: uppercase;
  color: #000000;
}

.cart a {
  color: #000000;
  text-transform: uppercase;
  color: #000000;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-header {
  background-color: #eeeeee;
}

.page-header h1 {
  margin: 0 auto;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  padding-top: 79px;
  padding-bottom: 117px;
}

.main-menu a:hover {
  color: #fb565a;
}

.cart a:hover {
  color: #fb565a;
}

.cart a:active {
  color: black;
  opacity: 0.3;
}

.main-menu a:active {
  color: black;
  opacity: 0.3;
}

.wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  padding-top: 49px;
}

.wrapper-shop {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 41px;
}

.logo {
  margin-right: 200px;
}

.shop-logo:hover {
  opacity: 0.8;
}

.shop-logo:active {
  opacity: 0.3;
}

.main-menu {
  align-self: center;
  margin-left: 2px;
  padding-top: 12px;
}

.main-menu a:not(:last-child) {
  margin-right: 43px;
}

.cart {
  position: relative;
  margin-left: auto;
  align-self: center;
  padding-left: 41px;
  padding-top: 12px;
}

.cart::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
}

.slider {
  position: relative;
  flex-basis: 100%;
}

.slider input[type=radio] {
  display: none;
}

.slider-controls {
  position: absolute;
  top: 313px;
  left: calc(50% - 44px);
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked~.slider-controls label[for="btn-1"], #btn-2:checked~.slider-controls label[for="btn-2"], #btn-3:checked~.slider-controls label[for="btn-3"] {
  box-shadow: inset 0 0 0 5px #fff, inset 0 0 0 7px #c1c1c1;
}

.slider-controls label:not(:last-child) {
  margin-right: 17px;
}

.slide b {
  font-size: 55px;
  line-height: 1;
}

.slide p {
  padding-top: 26px;
  padding-bottom: 39px;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding-top: 16px;
  padding-bottom: 15px;
  border-radius: 3px;
  text-align: center;
  width: 160px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-red {
  background-color: #fb565a;
}

.btn-red:hover {
  background-color: #e74246;
}

.btn-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn-grey {
  background-color: #eee;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  outline: none;
}

.btn-grey:hover {
  background-color: #dfdfdf;
}

.btn-grey:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn-large {
  width: 240px;
}

.btn-form {
  width: 260px;
}

.btn-footer {
  width: 219px;
}

.btn-shop {
  width: 200px;
}

.slide-1 {
  padding-top: 74px;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 431px 14px;
  min-height: 427px;
  display: none;
}

.slide-2 {
  padding-top: 74px;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 497px -2px;
  min-height: 427px;
  display: none;
}

.slide-3 {
  padding-top: 74px;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 402px 15px;
  min-height: 427px;
  display: none;
}

#btn-1:checked~.slider-inner .slide-1, #btn-2:checked~.slider-inner .slide-2, #btn-3:checked~.slider-inner .slide-3 {
  display: block;
}

.sort-form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  flex-basis: 260px;
}

.form-group {
  margin-left: -11px;
}

.sort-form b, .sort-form legend {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 7px;
}

fieldset {
  border-style: none;
}

.half-width {
  position: relative;
}

.half-width b {
  padding-bottom: 48px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 0;
  min-width: 260px;
  background-color: #eee;
  border-radius: 3px;
  padding: 39px 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin-top: -9px;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: inset 0 0 0 8px #fff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 219px;
  height: 2px;
  background-image: linear-gradient(to right, #00ca74 152px, #d7dcde 152px, #d7dcde 219px);
  cursor: pointer;
}

.range-item {
  position: absolute;
  top: calc(50% + 26px);
  left: calc(50% + 30px);
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: inset 0 0 0 8px #fff;
  cursor: pointer;
}

.output-area {
  padding: 10px 0 54px;
  font-size: 0;
}

.output-area span {
  display: inline-block;
  vertical-align: middle;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.first-number {
  margin-right: 32px;
}

.output-area output {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 38px;
  background-color: #eee;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 8px;
  margin-left: 12px;
  text-align: center;
}

.wrap {
  margin: 0;
}

.layout {
  padding-bottom: 27px;
}

.sort-form input:not([type="submit"]):not([type="range"]) {
  display: none;
}

.sort-form input[type="radio"]:checked+label::before {
  background-image: url(../img/radio-on.svg);
}

.sort-form input[type="checkbox"]:checked+label::before {
  background-image: url(../img/checkbox-on.svg);
}

.sort-form label {
  position: relative;
  display: block;
  margin-bottom: 21px;
  padding-left: 36px;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.layout label::before {
  position: absolute;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.features label::before {
  position: absolute;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.features {
  margin-bottom: 15px;
}

input[type="submit"] {
  display: block;
  text-align: center;
  border: none;
}

.sort {
  flex-basis: 760px;
}

.sort-menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 57px;
  padding-top: 3px;
}

.sort-menu b {
  margin-right: auto;
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-menu a {
  color: rgba(35, 31, 32, 0.2);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-menu a:hover {
  color: #a6a6a6;
}

.sort-menu a:active {
  color: #231f20;
}

.sort-menu .arrow {
  font-size: 0;
  width: 11px;
  height: 10px;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: rgba(35, 31, 32, 0.2) transparent transparent transparent;
}

.sort-menu .arrow:hover {
  border-color: #a6a6a6 transparent transparent transparent;
}

.sort-menu .arrow:active {
  border-color: #231f20 transparent transparent transparent;
}

.sort-menu .up {
  transform: rotateX(180deg);
  margin-left: 19px;
}

.sort-menu .down {
  margin-left: 47px;
}

.sort-menu a:nth-child(3)  {
  margin: 0 27px;
}

/*styles for catalog*/

.catalog {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  flex-basis: 360px;
  margin-bottom: 29px;
  padding-top: 40px;
  overflow: hidden;
  outline: 1px solid rgba(0, 1, 1, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:hover::after{
  background-color: rgba(77,77,77,1);
  transition: all .6s ease;
}
.catalog-item::after{
  position: absolute;
  content: '';
  display: block;
  height: 40px;
  width: 100%;
  top: 0;
  background-color: rgba(77,77,77,.12);
  border-radius: 3px 3px 0 0;
}
.catalog-item::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 23px 0 0 #fff, 46px 0 0 #fff;
  top: 12px;
  left: 16px;
  z-index: 3;
}
.catalog-item:hover .catalog-item-content {
  transform: translateY(0);
  opacity: 1;
}

.catalog-item-content {
  position: absolute;
  bottom: 4px;
  height: 231px;
  transform: translateY(231px);
  opacity: 1;
  background-color: #eeeeee;
  padding: 27px 80px 43px;
  transition: all .6s ease;
  text-align: center;
}

.catalog-item:nth-child(2) .catalog-item-content {
  padding: 27px 67px 43px;
}

.catalog-item:nth-child(2) .catalog-item-content p {
  padding: 15px 0 30px;
}
.catalog-item:nth-child(3) .catalog-item-content {
  bottom: 1px;
}

.catalog-item:nth-child(4) .catalog-item-content {
  bottom: 1px;
}

.catalog-item:nth-child(5) .catalog-item-content,
.catalog-item:nth-child(6) .catalog-item-content {
  bottom: 5px;
  padding: 27px 67px 43px;
}

.catalog-item-content b {
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item-content p {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 16px 0 29px;
}

.advantages {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 427px;
}

.advantages-item:not(:last-child) {
  margin-right: 100px;
}

.advantages h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 20px;
}

.advantages p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 16px 0 33px;
}

.studio {
  display: flex;
  min-height: 530px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.left-col {
  margin-top: 75px;
}

.left-col b {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.left-col p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  margin: 34px 0 42px;
}

.left-col strong {
  text-transform: uppercase;
}

.left-col ul {
  padding-top: 26px;
  list-style: none;
}

.left-col li {
  position: relative;
  padding-left: 36px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.left-col li:not(:last-child) {
  margin-bottom: 24px;
}

.left-col li::before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 50%;
  margin-top: -1px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.right-col {
  padding-top: 41px;
  margin-left: 150px;
}

.right-col h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 17px;
  padding: 35px 0 44px;
}

.right-col ul {
  font-size: 0;
  list-style: none;
}

.right-col li {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
}

.right-col span {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
}

.right-col p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 26px;
  padding-left: 3px;
}

.right-col sup {
  display: inline-block;
  font-size: 30px;
  padding-top: 7px;
}

.partners {
  position: relative;
  border-bottom: 2px solid #eeeeee;
  min-height: 180px;
  font-size: 0;
}

.partners a {
  display: inline-block;
  vertical-align: middle;
}

.partners-borodinsky::after, .partners-pink::after, .partners-html::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.partners-html {
  width: 199px;
  height: 68px;
  background-image: url("../img/logo-1.png");
  background-repeat: no-repeat;
  margin-top: 55px;
  margin-left: 31px;
}

.partners-html::after {
  top: 65px;
  left: 279px;
}

.partners-borodinsky {
  width: 209px;
  height: 90px;
  background-image: url("../img/logo-2.png");
  background-repeat: no-repeat;
  margin-top: 46px;
  margin-left: 96px;
}

.partners-borodinsky::after {
  top: 65px;
  left: 579px;
}

.partners-pink {
  width: 185px;
  height: 52px;
  background-image: url("../img/logo-3.png");
  background-repeat: no-repeat;
  margin-top: 46px;
  margin-left: 103px;
}

.partners-pink::after {
  top: 65px;
  right: 279px;
}

.partners-mishka {
  width: 173px;
  height: 84px;
  background-image: url("../img/logo-4.png");
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 119px;
}

.partners-html:hover {
  background-image: url("../img/logo-1.2.png");
}

.partners-borodinsky:hover {
  background-image: url("../img/logo-2.2.png");
}

.partners-pink:hover {
  background-image: url("../img/logo-3.2.png");
}

.partners-mishka:hover {
  background-image: url("../img/logo-4.2.png");
}

.partners a:active {
  opacity: 0.1;
}

.contacts {
  min-height: 415px;
  background-image: url("../img/map-marker.png"), url("../img/map.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 231px 190px, cover;
  background-position: calc(50% + 216px) calc(50% - 24px), 0 0;
  margin-top: 82px;
  padding-top: 54px;
}

.contacts-info {
  width: 319px;
  height: 308px;
  background-color: #ffffff;
  padding-top: 49px;
  padding-left: 50px;
}

.contacts-info h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-info p {
  width: 219px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 23px;
  padding-bottom: 10px;
}

.phone {
  display: block;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  padding-top: 8px;
  padding-bottom: 37px;
}

.write-us {
  display: none;
  position: fixed;
  top: 15%;
  left: calc(50% - 480px);
  width: 960px;
  height: 590px;
  padding: 73px 100px 84px;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  background-color: #ffffff;
}

.form-header {
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 50px;
  color: #fb565a;
  opacity: 0.3;
  cursor: pointer;
}

.write-us .close:hover {
  opacity: 1;
}

.write-us .close:active {
  opacity: 0.1;
}

.write-us h2 {
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.write-form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-form p:not(:last-of-type) {
  margin-bottom: 36px;
}

.write-form p:last-of-type {
  margin-bottom: 47px;
}

.write-form label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

::-webkit-input-placeholder {
  opacity: 0.5;
  color: #444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.write-form input {
  width: 360px;
  height: 50px;
  padding-left: 16px;
  border: 2px solid #d7dcde;
}

#name:hover {
  border: 2px solid #b4b9bb;
}

#name:focus {
  outline: none;
  border: 2px solid black;
  color: #444;
}

#name:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.write-us textarea {
  width: 760px;
  min-height: 118px;
  padding-left: 16px;
  padding-top: 13px;
  border: 2px solid #d7dcde;
  resize: none;
}

.write-us button {
  align-self: flex-end;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}

.page-footer {
  padding: 0;
  height: 220px;
}

.social {
  margin-right: 127px;
  font-size: 0;
  padding-top: 18px;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 78px;
  height: 78px;
  margin-right: 13px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-btn-vk {
  background-image: url("../img/vk-icon.png");
  background-repeat: no-repeat;
  background-position: 27px 32px;
}

.social-btn-fb {
  background-image: url("../img/fb-icon.png");
  background-repeat: no-repeat;
  background-position: 34px 28px;
}

.social-btn-in {
  background-image: url("../img/insta-icon.png");
  background-repeat: no-repeat;
  background-position: 28px 29px;
}

.social-btn-vk:active {
  background-image: url("../img/vk-icon2.png");
}

.social-btn-fb:active {
  background-image: url("../img/fb-icon2.png");
}

.social-btn-in:active {
  background-image: url("../img/insta-icon2.png");
}

.friends {
  padding-top: 24px;
}

.friends b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.friends p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 10px;
}
